.title {
  text-align: center;
}
body {
  background-image: url("https://i.pinimg.com/originals/1f/15/01/1f15015e319300a289e2b249831a7a09.png");
  max-width: max-content;
  max-height: max-content;

}
