<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="home.component.scss">
  </head>
  <body>
    <h1 class="title" style="color: white">ReadyMind</h1>
    <p style="text-align:center;" style="color: white">
      Fundada en 2007 y con sólida experiencia, RM lidera los servicios
      profesionales de IT en Infraestructura y Microsoft Azure Services.
      Completamente integrada por profesionales técnicos certificados, Nuestro
      staff de consultores está en constante entrenamiento certificando en las
      últimas tecnologías de nuestros Partners. Esta búsqueda constante de
      excelencia permite a RM alcanzar las expectativas y demandas del mercado,
      combinando habilidades con experiencia. Día a día mejorando nuestros
      servicios, alcanzando la satisfacción y cubriendo las necesidades de
      nuestros clientes que al final es lo más importante.
    </p>
    <h2 class="title" style="color: white">¿Por qué nosotros?</h2>
    <p style="text-align:center;" style="color: white">
      IT Partner con presencia internacional contamos con oficinas en Argentina,
      México y Estados Unidos. Así extendiendo negocios por toda LATAM y Norte
      América. readymind es una empresa de servicios profesionales consolidada,
      flexible y maleable ante cualquier necesidad que proponga un cliente,
      respondiendo con un equipo de alto rendimiento de Ingenieros y soporte en
      todas las áreas 24x7x365 garantizando así un servicio de calidad y
      excelencia.
    </p>
    <div style="text-align:center;">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/tVTWOivWOrU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  </body>
</html>
